<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Chat Room</title>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>
  <form id="ChatForm">
    <input type="text" id="message" placeholder="Enter message">
    <button type="submit">Send</button>
  </form>
  
  <ul id="messagesList"></ul>

  <script>
    const socket = io('http://localhost:3010');
    document.getElementById('ChatForm').addEventListener('submit', (e) => {
      e.preventDefault();
      const message = document.getElementById('message').value;
      socket.emit('chat', message);
    });
    socket.on('chat', (message) => {
      const messagesList = document.getElementById('messagesList');
      const messageItem = document.createElement('li');
      messageItem.textContent = message;
      messagesList.appendChild(messageItem);
    });
  </script>
</body>
</html>