<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Chat Room</title>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>
  <form id="CreateRoomForm">
    <button type="submit">Create Room</button>
  </form>
  <ul id="messages"></ul>
  <script>
    const socket = io('http://localhost:3010');
    document.getElementById('CreateRoomForm').addEventListener('submit', (e) => {
      e.preventDefault();
      socket.emit('createRoom');
    });
    socket.on('roomCreated', () => {
      console.log(`Room created`)
    });
    </script>
</body>
</html>
