<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Chat Room</title>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>
  <form id="surrenderForm">
    <button type="submit">Surrender</button>
  </form>
  <script>
    const socket = io('http://localhost:3000');
    const surrenderForm = document.getElementById('surrenderForm');
    surrenderForm.addEventListener('submit', (e) => {
      e.preventDefault();
      socket.emit('surrender');
    });
    
    socket.on('surrender', () => {
      alert('Opponent has surrendered');
    });
  </script>
</body>
</html>
